
.main {
    flex: 1;
  }

  .bg-dark {
    background-color: #12002b;
  }
  .sign-in-icon {
    font-size: 5rem;
  }
.sign-in-content {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  width: 300px;
  background-color: white;
  

  .sign-in-icon {
    font-size: 5rem;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }

  .input-remember {
    display: flex;
  }
  
  .input-remember label {
    margin-left: 0.25rem;
  }

  #button{
    width: 100%;
    border: none;
    font-size: 1.1rem;
    text-decoration: underline;
  }
}